* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Poppins', sans-serif;
}
.header {
  width: 100%;
  height: 100vh;
  background: url('./images/bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}
.navbar {
  width: 100%;
  height: 75px;
  position: fixed;
  top: 0;
  background: #1f2235;
  z-index: 1;
}

.navbar__container{
  display: flex;
  height: 75px;
  align-items: center;
  /* justify-content: space-between; */
}

.navbar__right{
  display: flex;
  list-style-type: none;
}

.navbar__right li a{
  text-decoration: none;
  color: white;
  font-weight: 500;
  font-size: 18px;
  padding: 0 15px;
}

.navbar__left-logo img{
  width: 150px;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.row {
  display: flex;
  width: 100%;
}
.col-6{
  width: 50%;
}

.header__content{
  display: flex;
  align-items: center;
  width: 100%;
  height: 100vh;
  color: white;
}
.header__ul{
  list-style-type: none;
  display: flex;
  margin-bottom: 20px;
}

.header__ul li{
  width: 50px;
  height: 50px;
  border: 3px solid #6e42c6;
  border-radius: 50%;
  display: flex;
  align-items: center;  /* vertically */
  justify-content: center;  /* horizontally */
  margin: 0 10px;
}

.header__ul li:first-child{
  margin-left: 0px;
}

.header__section h1{
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 20px;
}

.header__section p{
  font-size: 26px;
  font-weight: 300;
  line-height: 40px;
  margin-bottom: 50px;
}

.btn{
  outline: none;
  border: none;
  color: white;
  text-decoration: none;
}

.btn-outline{
  border: 2px solid #6e42c6;
  border-radius: 50px;
  padding:  13px 40px;
}

.btn-smart{
  background: #6e42c6;
  padding: 13px 40px;
  border-radius: 50px;
}

.play{
  font-size: 25px;
}

.banner__img img{
  height: auto;
  width: 100%;
  padding: 0 30px;
  margin-top: 150px;
}